@import ./variables
//-----------------------------------------------------------------------------------
// Overall style sheet, including fonts
//-----------------------------------------------------------------------------------
*
  font-family: 'M PLUS Rounded 1c', sans-serif

html, body
  width: 100%
  -webkit-width: 100%
  height: 100%
  -webkit-height: 100%
  height: calc(var(--vh, 1vh) * 100)
  -webkit-height: calc(var(--vh, 1vh) * 100)
  z-index: -100

html
  // ビヨヨン効果を無効化する
  overscroll-behavior: none
  overflow: hidden
  box-sizing: border-box
  -webkit-text-size-adjust: 100%
  -moz-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  text-size-adjust: 100%

body
  // ビヨヨン効果を無効化する
  word-wrap: break-word

// ----- 横揺れ防止 -----
html, body
  overflow-x: hidden
  -webkit-overflow-scrolling: touch

section
  display: block
section.main
  z-index: 3

// ----- フォントデザイン -----
p, label, input
  font-size: $fontSize
  line-height: $lineHeight
  max-width: 100%
  height: auto
  overflow-wrap: break-word
  word-wrap: break-word

// ----- IOS用ズーム防止 -----
input[type=text], input[type=submit]
  font-size: $fontSize
  transform: scale(0.8)

// ----- メイン画像サイズ -----
.logo > img
  width: $topImageWidth

// ----- ページレイアウト -----
.wrapper
  height: 100%
  position: relative
  box-sizing: border-box
  margin: 0
  display: flex
  flex-flow: column
  & > .header
    position: fixed
    justify-content: space-between
    box-shadow: 0 2px 4px rgba(0,0,0,.2)
    height: $headerHeight
    top: 0
    right: 0
    width: 100%
    z-index: 1000
  & > .footer
    display: flex
    justify-content: center

// メインコンテンツ
.main
  flex: 1
.top_page, .result_page
  background-position: center center
  background-repeat: no-repeat
  background-size: cover

// 480px〜599px：SP横
// ----------------------------------------------------------
@media screen and (min-width:480px) and (max-width:599px)
  input[type=text], input[type=submit]
    font-size: ($fontSize + 2px)

  .wrapper
    min-height: 100%
  
  .logo > img
    width: ($topImageWidth + 120px)
 
// 600px〜959px：タブレット
// ----------------------------------------------------------
@media screen and (min-width:600px) and (max-width:959px)
  input[type=text], input[type=submit]
    font-size: ($fontSize + 4px)
  
  .wrapper
    min-height: 100%

  .logo > img
    width: ($topImageWidth + 240px)

// 960px〜：PC
// ----------------------------------------------------------
@media screen and (min-width:960px)
  input[type=text], input[type=submit]
    font-size: ($fontSize + 6px)

  .wrapper
    min-height: 100%

  .logo > img
    width: ($topImageWidth + 190px)

