$mainColor: #56a49e
  
$backColor: #08223f
$backImage: url("../images/top/dna_top.jpg")

// ----- Font -----
$fontSize: 16px
$fontColor: #333
$lineHeight: 1.5em
$fontSubColor: #ffffffb2

// ----- MainImage -----
$topImageWidth: 260px

// ----- Form -----
$formBackColor: #ededed
$formButtonFontColor: #fff
$BtnBackColor: #e65252
$BtnDisabledBackColor: #e65252ab

// DisplayMessage
$SisplayMessageBoxColor: #2ec53a

// ----- header -----
$headerHeight: 50px
$headerTitleWidth: 100px

// ----- Footer -----
$footerHeight: 35px