$mainColor: #56a49e
  
$backColor: #ccc
$backImage: url("../images/top/dna_top.jpg")

$fontSize: 16px
$fontColor: #333
$lineHeight: 1.5em

$topImageWidth: 260px

$formBackColor: #ededed
$formButtonFontColor: #fff
$BtnBackColor: #e65252
$BtnDisabledBackColor: #e65252ab

$headerHeight: 50px
$headerTitleWidth: 130px

$footerFontColor: #eee
$footerHeight: 35px