@import ./variables
@import ./reet-style
@import ./_base
@import ./common

// --------------------------------------------------
// トップページ
// --------------------------------------------------
// ----- トップページ[pages/Top.jsx] -----
.top_page
  background-image: url("../images/top/dna_top.jpg")
  // ----- トップ画像[layouts/Logo.jsx] -----
  & > .logo
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto
    width: max-content
    padding-top: 20px
    & > img
      display: block
    & > .logo_img
      -webkit-animation: logo 8s ease-in-out 0s infinite normal
      animation: logo 8s ease-in-out 0s infinite normal
      transform-origin: center center
  // ----- ニックネーム入力フォーム[ui/TopSendName.jsx] -----
  & > .from_name
    background: $formBackColor
    border: solid 5px $mainColor
    border-radius: 10px
    width: 90%
    margin: 30px auto 50px
    padding: 15px 0
    text-align: center
    // 名前ラベル
    & > .label_name 
      font-size: 14px
      font-weight: bold
      // 名前入力フォーム
      & > .input_name
        display: block
        margin: 0 auto
        height: 3em
        display: block
        margin: 10px auto
    // 送信ボタン
    & > button.send_name
      width: 150px
      font-size: $fontSize
      color: $formButtonFontColor
      font-weight: bold
      text-decoration: none
      text-align: center
      display: block
      padding: 8px 0 10px
      margin: 10px auto 0
      background-color: $BtnBackColor
      border-radius: 5px
      &[disabled]
        background-color: $BtnDisabledBackColor

@keyframes logo
  0%
    transform: rotate3d(0, 0, 0, 0deg)
  33%
    transform: rotate3d(0, 0, 0, 0deg)
  100%
    transform: rotate3d(-1, -1, -1, 360deg)
@-webkit-keyframes logo
  0%
    -moz-transform: rotate3d(0, 0, 0, 0deg)
    -ms-transform: rotate3d(0, 0, 0, 0deg)
  33%
    -moz-transform: rotate3d(0, 0, 0, 0deg)
    -ms-transform: rotate3d(0, 0, 0, 0deg)
  100%
    -moz-transform: rotate3d(-1, -1, -1, 360deg)
    -ms-transform: rotate3d(-1, -1, -1, 360deg)

// --------------------------------------------------
// 診断結果ページ
// --------------------------------------------------
// ----- 診断結果ページ[Pages/Result.jsx] -----
.result_page
  background: #6f8a9c
  overflow: hidden
  height: 100%
  // ----- ヘッダー[layouts/Header.jsx] -----
  & > .header
    background: $backColor
    height: $headerHeight
    width: 100%
    & > .header_item
      position: relative
      height: 100%
      & > .header_title, .date
        position: absolute
      & > .header_title
        width: $headerTitleWidth
        height: $headerHeight - 15px
        top: 15%
      // 診断日
      & > .date
        font-size: 80%
        bottom: 15%
        right: 0
  // ----- 診断結果表示エリア -----
  & > .message_area
    overflow: hidden
    padding-bottom: $footerHeight
    &.scroll 
      overflow-y: scroll
// ----- メッセージ表示領域 -----
.display_message
  padding-top: 15px 
  position: relative
  display: flex
  margin-bottom: 10px
  // ----- テキスト表示 -----
  & > .display_text_box
    margin-left: 15px
    width: 80%
    & > .name
      font-size: 80%
      margin-left: 10px
      color: $fontSubColor
    & > .line_area
      display: flex
      // ----- 吹き出しBOX -----
      & > .display_text_line
        width: 100%
        margin: 0
        position: relative
        padding: 13px
        border-radius: 20px
        background-color: $SisplayMessageBoxColor
        // ----- 吹き出し -----
        &::after 
          content: ""
          display: inline-block
          position: absolute
          top: 3px
          left: -19px
          border: 8px solid transparent
          border-right: 18px solid $SisplayMessageBoxColor
          -webkit-transform: rotate(35deg)
          transform: rotate(35deg)
      // ----- メッセージ表示時間 -----
      & > .time
        color: $fontSubColor
        font-size: 60%
        margin: auto 0 10px 5px
